.Display {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10PX;
    background: rgb(12, 12, 12);
    border: 2px solid red ;
    
    height: 20%;
    color: white;
    font-size: 24px;
}